*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #23252C;
  color: #fff;
  font-family: 'Inter';
}

#root{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}